body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.container-fluid{
    padding: 3% 15%;
}
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}
h1{
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
}
/* navbar */
nav{
    margin-bottom: 10%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding:0 18px ;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
}
/* title */
#title{
    background: #ff4c68;
    padding-bottom: 10%;
    text-align: left;
}
.download-btn{
    margin: 5% 3% 0 0;
}
/* title img */
.rotate{
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    position: absolute;
    width: 300px;
    left: 60%;
}
/* feature */
#features{
    padding: 15% 0;
    background: #fff;
    position: relative;
    z-index: 1;
}
#features i{
    color: #ef8172;
    font-size: 52px;
    margin-bottom: 15px;
}
#features i:hover{
    color: #ff4c68;
}
#features p{
    color: #8f8f8f;
}
/* testimonials */

#testimonials{
    background: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding:7% 15%;
}
/* press */
#press{
    background:#ef8172 ;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 0 20px 20px 50px;
}
/* pricing */
#pricing{
    margin: 10% 15%;
}
#pricing h3{
    margin: 0;
}
.pricing-column{
    padding: 3% 2%;
}
/* call to action */
#cta{
    background: #ff4c68;
    padding:20% 5%;
}
#cta h3{
    margin-bottom: 5%;
    color: #fff;
    font-size: 36px;
}
#cta .btn{
    margin-left: 20px;
}
/* footer */
#footer{
    padding: 10% 0 5% 0;
    background: #fff;
}
.contact i{
    margin: 10px;
    color: #000;
}
/* media query */
@media (max-width:1028px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    P{
        line-height: 0.5;
    }
    .rotate{
        position: static;
        transform: rotate(0);
        margin-top: 10%;
    }
    #title{
        text-align: center;
    }
}